<div id="events-content">
  <h1>Events</h1>
  <%= link_to "Find nearest events!", events_path, :id => "location-button", :class => "btn btn-primary" %>
    
  </button>

  <%= render @events %>
  <br>

  <%= link_to 'New Event', new_event_path, :class => "btn btn-primary" %>
</div>