@import "bootstrap-sprockets";
@import "bootstrap";
@import "users/users";

body {
  padding-top: 65px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  font-family: 'Roboto';
}

.heading {
  text-align: center;
}

.actions {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
}