@import "bootstrap-sprockets";
@import "bootstrap";
@import "users/users";
@import "events";
@import "nav";

body {
  padding-top: 65px;
  font-family: 'Roboto';
  background-color: #BBDEF7;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  color: #EEEEEE;
  text-decoration: none;
  font-size: 25px;
  padding: 18px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.heading {
  text-align: center;
}

.actions {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
}