// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event.thumbnail.right-caption {
  float: left;
  position: relative;
  width: 100%;
  background-color: #2196F3;
  border: none;

  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.15);

  * {
    color: #EEEEEE;
  }

  .event-title {
    text-align: center;
    font-size: 25px;
  }
  .event-image {
    float: left;
    max-width: 150px;
    margin: 20px;
    img {
      border-radius: 30px;
      border: 2px solid white;
    }
  }

  .event-desc.caption {
    font-size: 18px;
    font-weight: 100;
    padding: 20px;

  }
  
  .button-group {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    * {
      margin: 0px 5px;
    }
    a.btn {
      &.btn-primary,&.btn-default {
        background-color: #3CBFE6;
        border: none;
      }
    }
  }

}